@{
    Layout = null;
}

<!DOCTYPE html>
<!-- saved from url=(0045)https://hannah-wilson-83ej.squarespace.com/ -->
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website" lang="en-US"
      itemscope="" itemtype="http://schema.org/WebPage" ">
<div id="yui3-css-stamp" style="position: absolute !important; visibility: hidden !important"></div>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equic="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <!-- This is Squarespace. --><!-- hannah-wilson-83ej -->
    <!--<base href="">-->
    <base href=".">
    <title>Alternative Perspective Travel </title>
    <link rel="shortcut icon" type="image/x-icon" href="https://hannah-wilson-83ej.squarespace.com/favicon.ico">
    <link rel="canonical" href="https://hannah-wilson-83ej.squarespace.com/">
    <meta property="og:site_name" content="Alternative Perspective Travel ">
    <meta property="og:title" content="The Journey Begins">
    <meta property="og:url" content="https://hannah-wilson-83ej.squarespace.com/">
    <meta property="og:type" content="website">
    <meta itemprop="name" content="The Journey Begins">
    <meta itemprop="url" content="https://hannah-wilson-83ej.squarespace.com/">
    <meta name="twitter:title" content="The Journey Begins">
    <meta name="twitter:url" content="https://hannah-wilson-83ej.squarespace.com/">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="">

    <style>
        @@font-face {
            font-family: proxima-nova;
            src: url(https://use.typekit.net/af/03ff77/00000000000000003b9b0934/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/03ff77/00000000000000003b9b0934/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/03ff77/00000000000000003b9b0934/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
            font-weight: 400;
            font-style: normal;
        }

        @@font-face {
            font-family: proxima-nova;
            src: url(https://use.typekit.net/af/bd46a5/00000000000000003b9b0936/27/l?subset_id=2&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/bd46a5/00000000000000003b9b0936/27/d?subset_id=2&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/bd46a5/00000000000000003b9b0936/27/a?subset_id=2&fvd=n5&v=3) format("opentype");
            font-weight: 500;
            font-style: normal;
        }

        @@font-face {
            font-family: proxima-nova;
            src: url(https://use.typekit.net/af/138935/00000000000000003b9b0939/27/l?subset_id=2&fvd=n6&v=3) format("woff2"),url(https://use.typekit.net/af/138935/00000000000000003b9b0939/27/d?subset_id=2&fvd=n6&v=3) format("woff"),url(https://use.typekit.net/af/138935/00000000000000003b9b0939/27/a?subset_id=2&fvd=n6&v=3) format("opentype");
            font-weight: 600;
            font-style: normal;
        }

        @@font-face {
            font-family: proxima-nova;
            src: url(https://use.typekit.net/af/75f50f/00000000000000003b9b093b/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/75f50f/00000000000000003b9b093b/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/75f50f/00000000000000003b9b093b/27/a?subset_id=2&fvd=n7&v=3) format("opentype");
            font-weight: 700;
            font-style: normal;
        }

        @@font-face {
            font-family: proxima-nova;
            src: url(https://use.typekit.net/af/ec5f16/00000000000000003b9b0937/27/l?subset_id=2&fvd=i5&v=3) format("woff2"),url(https://use.typekit.net/af/ec5f16/00000000000000003b9b0937/27/d?subset_id=2&fvd=i5&v=3) format("woff"),url(https://use.typekit.net/af/ec5f16/00000000000000003b9b0937/27/a?subset_id=2&fvd=i5&v=3) format("opentype");
            font-weight: 500;
            font-style: italic;
        }

        @@font-face {
            font-family: proxima-nova;
            src: url(https://use.typekit.net/af/878136/00000000000000003b9b093a/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/878136/00000000000000003b9b093a/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/878136/00000000000000003b9b093a/27/a?subset_id=2&fvd=i7&v=3) format("opentype");
            font-weight: 700;
            font-style: italic;
        }

        @@font-face {
            font-family: freight-sans-pro;
            src: url(https://use.typekit.net/af/5101bc/000000000000000000010b5c/27/l?subset_id=2&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/5101bc/000000000000000000010b5c/27/d?subset_id=2&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/5101bc/000000000000000000010b5c/27/a?subset_id=2&fvd=n5&v=3) format("opentype");
            font-weight: 500;
            font-style: normal;
        }

        @@font-face {
            font-family: calluna;
            src: url(https://use.typekit.net/af/10abaa/000000000000000000014869/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/10abaa/000000000000000000014869/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/10abaa/000000000000000000014869/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
            font-weight: 400;
            font-style: normal;
        }

        @@font-face {
            font-family: calluna;
            src: url(https://use.typekit.net/af/088fea/00000000000000000001486a/27/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/088fea/00000000000000000001486a/27/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/088fea/00000000000000000001486a/27/a?subset_id=2&fvd=i4&v=3) format("opentype");
            font-weight: 400;
            font-style: italic;
        }

        @@font-face {
            font-family: futura-pt;
            src: url(https://use.typekit.net/af/a95b40/000000000000000000010096/27/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/a95b40/000000000000000000010096/27/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/a95b40/000000000000000000010096/27/a?subset_id=2&fvd=n3&v=3) format("opentype");
            font-weight: 300;
            font-style: normal;
        }

        @@font-face {
            font-family: futura-pt;
            src: url(https://use.typekit.net/af/1428fc/000000000000000000013365/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/1428fc/000000000000000000013365/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/1428fc/000000000000000000013365/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
            font-weight: 400;
            font-style: normal;
        }

        @@font-face {
            font-family: futura-pt;
            src: url(https://use.typekit.net/af/dbb0f7/00000000000000000001008f/27/l?subset_id=2&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/dbb0f7/00000000000000000001008f/27/d?subset_id=2&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/dbb0f7/00000000000000000001008f/27/a?subset_id=2&fvd=n5&v=3) format("opentype");
            font-weight: 500;
            font-style: normal;
        }

        @@font-face {
            font-family: futura-pt;
            src: url(https://use.typekit.net/af/8c6b35/000000000000000000010095/27/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/8c6b35/000000000000000000010095/27/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/8c6b35/000000000000000000010095/27/a?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/8d9762/0000000000000000000132df/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/8d9762/0000000000000000000132df/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
            font-weight: 400;
            font-style: normal;
        }

        @@font-face {
            font-family: brandon-grotesque;
            src: url(https://use.typekit.net/af/2c0b76/0000000000000000000132e3/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/2c0b76/0000000000000000000132e3/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/2c0b76/0000000000000000000132e3/27/a?subset_id=2&fvd=n7&v=3) format("opentype");
            font-weight: 700;
            font-style: normal;
        }
    </style>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>

    <style>
        .button {
            font-family: "brandon-grotesque";
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: .2em;
            font-weight: 700;
            font-style: normal;
            background-color: #fff;
            border: none;
            color: #444;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            width: 115px;
            border: 1px solid #444;
            position: relative;
            transform: translateY(-50%);
            margin: 5px;
        }

        .container {
            width: 100%;
            height: 100vh;
            position: relative;
            text-align: center;
        }
        body {
            background-color: #111;
            background-image: url(/content/Images/CollageFinal.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }


        .button {
            top: calc(50% + 190px);
            border: 2px solid #444;
            border-radius:2px;
        }

        body {
            background-size: calc(50% + 600px);
        }


        @@media screen and (min-width: 450px) {
            .button {
                top: calc(50% + 55px);
                border: 1px solid #444;
            }

            body {
                background-size: calc(20% + 1000px);
            }
        }

        @@media screen and (min-width: 1000px) {
            .button {
                top: calc(50% + 67px);
                border: 1px solid #444;
            }

            body {
                background-size: calc(20% + 1000px);
            }
        }



    </style>

</head>
<body>


    <div class="container">
        <a class="button" href="https://hannah-wilson-83ej.squarespace.com/blog/" target="_blank">See More</a>

        <a class="button" href="https://hannah-wilson-83ej.squarespace.com/email-list" target="_blank">Follow Me</a>
    </div>


</body>
</html>